USE [master]
GO
/****** Object:  Database [CHUNGKHOAN]    Script Date: 5/10/2022 8:01:06 PM ******/
CREATE DATABASE [CHUNGKHOAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CHUNGKHOAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CHUNGKHOAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CHUNGKHOAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CHUNGKHOAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CHUNGKHOAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CHUNGKHOAN]
GO
/****** Object:  Table [dbo].[BANGGIATRUCTUYEN]    Script Date: 5/10/2022 8:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGGIATRUCTUYEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACP] [nchar](7) NOT NULL,
	[GIAMUA3] [float] NULL,
	[SOLUONGMUA3] [int] NULL,
	[GIAMUA2] [float] NULL,
	[SOLUONGMUA2] [int] NULL,
	[GIAMUA1] [float] NULL,
	[SOLUONGMUA1] [int] NULL,
	[GIAKHOP] [float] NULL,
	[SOLUONGKHOP] [int] NULL,
	[GIABAN1] [float] NULL,
	[SOLUONGBAN1] [int] NULL,
	[GIABAN2] [float] NULL,
	[SOLUONGBAN2] [int] NULL,
	[GIABAN3] [float] NULL,
	[SOLUONGBAN3] [int] NULL,
	[TONGSOLUONGKHOP] [int] NULL,
 CONSTRAINT [PK_BANGGIATRUCTUYEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LENHDAT]    Script Date: 5/10/2022 8:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHDAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACP] [nchar](7) NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[LOAIGD] [nchar](1) NOT NULL,
	[LOAILENH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIADAT] [float] NOT NULL,
	[TRANGTHAILENH] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_LENHDAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LENHKHOP]    Script Date: 5/10/2022 8:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHKHOP](
	[IDKHOP] [int] IDENTITY(1,1) NOT NULL,
	[NGAYKHOP] [datetime] NOT NULL,
	[SOLUONGKHOP] [int] NOT NULL,
	[GIAKHOP] [float] NOT NULL,
	[IDLENHDAT] [int] NOT NULL,
 CONSTRAINT [PK_LENHKHOP] PRIMARY KEY CLUSTERED 
(
	[IDKHOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BANGGIATRUCTUYEN] ON 

INSERT [dbo].[BANGGIATRUCTUYEN] ([ID], [MACP], [GIAMUA3], [SOLUONGMUA3], [GIAMUA2], [SOLUONGMUA2], [GIAMUA1], [SOLUONGMUA1], [GIAKHOP], [SOLUONGKHOP], [GIABAN1], [SOLUONGBAN1], [GIABAN2], [SOLUONGBAN2], [GIABAN3], [SOLUONGBAN3], [TONGSOLUONGKHOP]) VALUES (20, N'ABC    ', 0, 0, 0, 0, 0, 0, 11000, 700, 11000, 800, 0, 0, 0, 0, 3700)
INSERT [dbo].[BANGGIATRUCTUYEN] ([ID], [MACP], [GIAMUA3], [SOLUONGMUA3], [GIAMUA2], [SOLUONGMUA2], [GIAMUA1], [SOLUONGMUA1], [GIAKHOP], [SOLUONGKHOP], [GIABAN1], [SOLUONGBAN1], [GIABAN2], [SOLUONGBAN2], [GIABAN3], [SOLUONGBAN3], [TONGSOLUONGKHOP]) VALUES (21, N'ACB    ', 0, 0, 0, 0, 0, 0, 10000, 1000, 5000, 700, 0, 0, 0, 0, 3000)
INSERT [dbo].[BANGGIATRUCTUYEN] ([ID], [MACP], [GIAMUA3], [SOLUONGMUA3], [GIAMUA2], [SOLUONGMUA2], [GIAMUA1], [SOLUONGMUA1], [GIAKHOP], [SOLUONGKHOP], [GIABAN1], [SOLUONGBAN1], [GIABAN2], [SOLUONGBAN2], [GIABAN3], [SOLUONGBAN3], [TONGSOLUONGKHOP]) VALUES (22, N'SHB    ', 0, 0, 0, 0, 0, 0, 0, 0, 9000, 6000, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[BANGGIATRUCTUYEN] OFF
GO
SET IDENTITY_INSERT [dbo].[LENHDAT] ON 

INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (104, N'ABC    ', CAST(N'2022-05-10T00:00:00.000' AS DateTime), N'B', N'LO        ', 0, 9000, N'Khớp hết')
INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (105, N'ABC    ', CAST(N'2022-05-10T00:00:00.000' AS DateTime), N'B', N'LO        ', 800, 11000, N'Khớp lệnh 1 phần')
INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (106, N'ACB    ', CAST(N'2022-05-10T00:00:00.000' AS DateTime), N'M', N'LO        ', 0, 10000, N'Khớp hết')
SET IDENTITY_INSERT [dbo].[LENHDAT] OFF
GO
SET IDENTITY_INSERT [dbo].[LENHKHOP] ON 

INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (42, CAST(N'2022-05-10T00:00:00.000' AS DateTime), 2000, 9000, 104)
INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (43, CAST(N'2022-05-10T00:00:00.000' AS DateTime), 1000, 10000, 108)
INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (44, CAST(N'2022-05-10T00:00:00.000' AS DateTime), 700, 11000, 105)
SET IDENTITY_INSERT [dbo].[LENHKHOP] OFF
GO
ALTER TABLE [dbo].[BANGGIATRUCTUYEN] ADD  CONSTRAINT [DF_BANGGIATRUCTUYEN_GIAMUA3]  DEFAULT ((0.0)) FOR [GIAMUA3]
GO
ALTER TABLE [dbo].[BANGGIATRUCTUYEN] ADD  CONSTRAINT [DF_BANGGIATRUCTUYEN_SOLUONGMUA3]  DEFAULT ((0)) FOR [SOLUONGMUA3]
GO
ALTER TABLE [dbo].[BANGGIATRUCTUYEN] ADD  CONSTRAINT [DF_BANGGIATRUCTUYEN_GIAMUA2]  DEFAULT ((0.0)) FOR [GIAMUA2]
GO
ALTER TABLE [dbo].[BANGGIATRUCTUYEN] ADD  CONSTRAINT [DF_BANGGIATRUCTUYEN_SOLUONGMUA2]  DEFAULT ((0)) FOR [SOLUONGMUA2]
GO
ALTER TABLE [dbo].[BANGGIATRUCTUYEN] ADD  CONSTRAINT [DF_BANGGIATRUCTUYEN_GIAMUA1]  DEFAULT ((0.0)) FOR [GIAMUA1]
GO
ALTER TABLE [dbo].[BANGGIATRUCTUYEN] ADD  CONSTRAINT [DF_BANGGIATRUCTUYEN_SOLUONGMUA1]  DEFAULT ((0)) FOR [SOLUONGMUA1]
GO
ALTER TABLE [dbo].[BANGGIATRUCTUYEN] ADD  CONSTRAINT [DF_BANGGIATRUCTUYEN_GIAKHOP]  DEFAULT ((0.0)) FOR [GIAKHOP]
GO
ALTER TABLE [dbo].[BANGGIATRUCTUYEN] ADD  CONSTRAINT [DF_BANGGIATRUCTUYEN_SOLUONGKHOP]  DEFAULT ((0)) FOR [SOLUONGKHOP]
GO
ALTER TABLE [dbo].[BANGGIATRUCTUYEN] ADD  CONSTRAINT [DF_BANGGIATRUCTUYEN_GIABAN1]  DEFAULT ((0.0)) FOR [GIABAN1]
GO
ALTER TABLE [dbo].[BANGGIATRUCTUYEN] ADD  CONSTRAINT [DF_BANGGIATRUCTUYEN_SOLUONGBAN1]  DEFAULT ((0)) FOR [SOLUONGBAN1]
GO
ALTER TABLE [dbo].[BANGGIATRUCTUYEN] ADD  CONSTRAINT [DF_BANGGIATRUCTUYEN_GIABAN2]  DEFAULT ((0.0)) FOR [GIABAN2]
GO
ALTER TABLE [dbo].[BANGGIATRUCTUYEN] ADD  CONSTRAINT [DF_BANGGIATRUCTUYEN_SOLUONGBAN2]  DEFAULT ((0)) FOR [SOLUONGBAN2]
GO
ALTER TABLE [dbo].[BANGGIATRUCTUYEN] ADD  CONSTRAINT [DF_BANGGIATRUCTUYEN_GIABAN3]  DEFAULT ((0.0)) FOR [GIABAN3]
GO
ALTER TABLE [dbo].[BANGGIATRUCTUYEN] ADD  CONSTRAINT [DF_BANGGIATRUCTUYEN_SOLUONGBAN3]  DEFAULT ((0)) FOR [SOLUONGBAN3]
GO
ALTER TABLE [dbo].[BANGGIATRUCTUYEN] ADD  CONSTRAINT [DF_BANGGIATRUCTUYEN_TONGSOLUONGKHOP]  DEFAULT ((0)) FOR [TONGSOLUONGKHOP]
GO
ALTER TABLE [dbo].[LENHDAT] ADD  CONSTRAINT [DF_LENHDAT_TRANGTHAILENH]  DEFAULT (N'Chờ khớp') FOR [TRANGTHAILENH]
GO
ALTER TABLE [dbo].[LENHKHOP]  WITH CHECK ADD  CONSTRAINT [FK_LENHKHOP_LENHDAT] FOREIGN KEY([IDLENHDAT])
REFERENCES [dbo].[LENHDAT] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [FK_LENHKHOP_LENHDAT]
GO
/****** Object:  StoredProcedure [dbo].[CursorLoaiGD]    Script Date: 5/10/2022 8:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CursorLoaiGD]
  @OutCrsr CURSOR VARYING OUTPUT, 
  @macp NVARCHAR( 10), @Ngay NVARCHAR( 10),  @LoaiGD CHAR 
AS
SET DATEFORMAT DMY 
IF (@LoaiGD='M') 
  SET @OutCrsr=CURSOR KEYSET FOR 
  SELECT ID, NGAYDAT, SOLUONG, GIADAT FROM LENHDAT 
  WHERE MACP=@macp 
     AND DAY(NGAYDAT)=DAY(@Ngay)AND MONTH(NGAYDAT)= MONTH(@Ngay) AND YEAR(NGAYDAT)=YEAR(@Ngay)  
     AND LOAIGD=@LoaiGD AND SOLUONG >0  
    ORDER BY GIADAT DESC, NGAYDAT 
ELSE
  SET @OutCrsr=CURSOR KEYSET FOR 
  SELECT ID, NGAYDAT, SOLUONG, GIADAT FROM LENHDAT 
  WHERE MACP=@macp 
    AND DAY(NGAYDAT)=DAY(@Ngay)AND MONTH(NGAYDAT)= MONTH(@Ngay) AND YEAR(NGAYDAT)=YEAR(@Ngay)  
    AND LOAIGD=@LoaiGD AND SOLUONG >0  
    ORDER BY GIADAT, NGAYDAT 
OPEN @OutCrsr
GO
/****** Object:  StoredProcedure [dbo].[SP_KHOPLENH_LO]    Script Date: 5/10/2022 8:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KHOPLENH_LO]
 @macp NVARCHAR( 10), @Ngay NVARCHAR( 10),  @LoaiGD CHAR, 
 @soluongMB INT, @giadatMB FLOAT 
AS
SET DATEFORMAT DMY
DECLARE @CrsrVar CURSOR , @id INT, @ngaydat NVARCHAR(10), @soluong INT, @giadat FLOAT,  @soluongkhop INT, @giakhop FLOAT,@trangthailenh NVARCHAR(30)
SET @trangthailenh = N'Chờ khớp'
 IF (@LoaiGD='B')
   EXEC CursorLoaiGD  @CrsrVar OUTPUT, @macp,@Ngay, 'M'
 ELSE 
  EXEC CursorLoaiGD  @CrsrVar OUTPUT, @macp,@Ngay, 'B'
  
FETCH NEXT FROM @CrsrVar  INTO  @id, @ngaydat , @soluong , @giadat 
--SELECT @ngaydat , @soluong , @giadat
WHILE (@@FETCH_STATUS <> -1 AND @soluongMB >0)
BEGIN
SELECT @ngaydat , @soluong , @giadat
 IF  (@LoaiGD='B' )
   IF  (@giadatMB <= @giadat)
   BEGIN
     IF @soluongMB > @soluong
     BEGIN
       SET @soluongkhop = @soluong
       SET @giakhop = @giadat
       SET @soluongMB = @soluongMB - @soluong
	   SET @trangthailenh = N'Khớp lệnh 1 phần'
       UPDATE dbo.LENHDAT  
         SET SOLUONG = 0,TRANGTHAILENH = N'Khớp hết'
         WHERE CURRENT OF @CrsrVar
     END
     ELSE IF @soluongMB < @soluong
     BEGIN
       SET @soluongkhop = @soluongMB
       SET @giakhop = @giadat
       
       UPDATE dbo.LENHDAT
         SET SOLUONG = SOLUONG - @soluongMB,TRANGTHAILENH = N'Khớp lệnh 1 phần'
         WHERE CURRENT OF @CrsrVar
       SET @soluongMB = 0
	   SET @trangthailenh = N'Khớp hết'
     END
	 ELSE
	 BEGIN
		SET @soluongkhop = @soluongMB
       SET @giakhop = @giadat
       
       UPDATE dbo.LENHDAT
         SET SOLUONG = 0,TRANGTHAILENH = N'Khớp hết'
         WHERE CURRENT OF @CrsrVar
       SET @soluongMB = 0
	   SET @trangthailenh = N'Khớp hết'
	 END
     --SELECT  @soluongkhop, @giakhop
	 -- Cập nhât lệnh đặt
	 --INSERT INTO LENHDAT(MACP, NGAYDAT, LOAIGD, LOAILENH,SOLUONG,GIADAT,TRANGTHAILENH) VALUES (@macp, @Ngay, @LoaiGD, 'LO',@soluongMB,@giadatMB,@trangthailenh)
     -- Cập nhật table LENHKHOP
	 INSERT INTO LENHKHOP(NGAYKHOP, SOLUONGKHOP, GIAKHOP, IDLENHDAT) VALUES (@Ngay, @soluongkhop, @giakhop, @id)
   END
   ELSE
     GOTO THOAT
     -- Còn Trường hợp lệnh gởi vào là lệnh mua
ELSE IF  (@LoaiGD='M' )
   IF  (@giadatMB >= @giadat)
   BEGIN
     IF @soluongMB > @soluong
     BEGIN
       SET @soluongkhop = @soluong
       SET @giakhop = @giadat
       SET @soluongMB = @soluongMB - @soluong
	   SET @trangthailenh = N'Khớp lệnh 1 phần'
       UPDATE dbo.LENHDAT  
         SET SOLUONG = 0,TRANGTHAILENH = N'Khớp hết'
         WHERE CURRENT OF @CrsrVar
     END
     ELSE IF @soluongMB < @soluong
     BEGIN
       SET @soluongkhop = @soluongMB
       SET @giakhop = @giadat
       UPDATE dbo.LENHDAT  
         SET SOLUONG = SOLUONG - @soluongMB,TRANGTHAILENH = N'Khớp lệnh 1 phần'
         WHERE CURRENT OF @CrsrVar
       SET @soluongMB = 0
	   SET @trangthailenh = N'Khớp hết'
     END
	 ELSE
	 BEGIN
		SET @soluongkhop = @soluongMB
       SET @giakhop = @giadat
       
       UPDATE dbo.LENHDAT
         SET SOLUONG = 0,TRANGTHAILENH = N'Khớp hết'
         WHERE CURRENT OF @CrsrVar
       SET @soluongMB = 0
	   SET @trangthailenh = N'Khớp hết'
	 END
     --SELECT  @soluongkhop, @giakhop
	 -- Cập nhât lệnh đặt
	 --INSERT INTO LENHDAT (MACP, NGAYDAT, LOAIGD, LOAILENH,SOLUONG,GIADAT,TRANGTHAILENH) VALUES (@macp, @Ngay, @LoaiGD, 'LO',@soluongMB,@giadatMB,@trangthailenh)
     -- Cập nhật table LENHKHOP
	 INSERT INTO LENHKHOP (NGAYKHOP, SOLUONGKHOP, GIAKHOP, IDLENHDAT) VALUES (@Ngay, @soluongkhop, @giakhop, @id)
     END
     ELSE
        GOTO THOAT

   FETCH NEXT FROM @CrsrVar INTO  @id, @ngaydat , @soluong , @giadat
END
THOAT:
	INSERT INTO LENHDAT(MACP, NGAYDAT, LOAIGD, LOAILENH,SOLUONG,GIADAT,TRANGTHAILENH) VALUES (@macp, @Ngay, @LoaiGD, 'LO',@soluongMB,@giadatMB,@trangthailenh)
    CLOSE @CrsrVar
    DEALLOCATE @CrsrVar
GO
/****** Object:  Trigger [dbo].[TRI_LENHDAT]    Script Date: 5/10/2022 8:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRI_LENHDAT]
ON [dbo].[LENHDAT] 
AFTER INSERT, UPDATE
AS
BEGIN
	IF EXISTS (SELECT MACP FROM BANGGIATRUCTUYEN WHERE MACP = (SELECT MACP FROM inserted))
	BEGIN
		DECLARE @CursorVariable CURSOR, @MACOPHIEU NVARCHAR(10), @LOAIGD NCHAR(1),
				@GiaMua1 FLOAT, @SoLuongMua1 INT, @GiaMua2 FLOAT, @SoLuongMua2 INT, @GiaMua3 FLOAT, @SoLuongMua3 INT,	
				@GiaBan1 FLOAT, @SoLuongBan1 INT, @GiaBan2 FLOAT, @SoLuongBan2 INT, @GiaBan3 FLOAT,	@SoLuongBan3 INT	
		
		SET @MACOPHIEU = (SELECT MACP FROM inserted)
		SET @LOAIGD = (SELECT LOAIGD FROM inserted)
		IF @LOAIGD = 'M'
		BEGIN
			SET @GiaMua1 = ISNULL((SELECT MAX(GIADAT) 
				FROM LENHDAT WHERE MACP = @MACOPHIEU AND LOAIGD = 'M' AND SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE)),0)
				
			SET @SoLuongMua1 = ISNULL((SELECT SUM(SOLUONG) 
				FROM LENHDAT WHERE MACP = @MACOPHIEU AND LOAIGD = 'M' AND SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND GIADAT = @GiaMua1),0)
				
			SET @GiaMua2 = ISNULL((SELECT MAX(GIADAT) 
				FROM LENHDAT WHERE MACP = @MACOPHIEU AND LOAIGD = 'M' AND SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND GIADAT < @GiaMua1),0)
				
			SET @SoLuongMua2 = ISNULL((SELECT SUM(SOLUONG) 
				FROM LENHDAT WHERE MACP = @MACOPHIEU AND LOAIGD = 'M' AND SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND GIADAT = @GiaMua2),0)
				
			IF @GiaMua2 = 0
			BEGIN
				SET @GiaMua3 = 0
				SET @SoLuongMua3 = 0
			END
			ELSE
			BEGIN
				SET @GiaMua3 = ISNULL((SELECT MAX(GIADAT) 
					FROM LENHDAT WHERE MACP = @MACOPHIEU AND LOAIGD = 'M' AND SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND GIADAT < @GiaMua2),0)
				
				SET @SoLuongMua3 = ISNULL((SELECT SUM(SOLUONG) 
					FROM LENHDAT WHERE MACP = @MACOPHIEU AND LOAIGD = 'M' AND SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND GIADAT = @GiaMua3),0)
			END	
			UPDATE BANGGIATRUCTUYEN SET 
				GIAMUA1 = @GiaMua1,
				SOLUONGMUA1 = @SoLuongMua1,

				GIAMUA2 = @GiaMua2, 
				SOLUONGMUA2 = @SoLuongMua2,

				GIAMUA3 = @GiaMua3,
				SOLUONGMUA3 = @SoLuongMua3
				WHERE MACP = @MACOPHIEU
		END
		ELSE IF @LOAIGD = 'B'
		BEGIN
			SET @GiaBan1 = ISNULL((SELECT MIN(GIADAT) 
				FROM LENHDAT WHERE MACP = @MACOPHIEU AND LOAIGD = 'B' AND SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE)),0)
				
			SET @SoLuongBan1 = ISNULL((SELECT SUM(SOLUONG) 
				FROM LENHDAT WHERE MACP = @MACOPHIEU AND LOAIGD = 'B' AND SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND GIADAT = @GiaBan1),0)
				
			SET @GiaBan2 = ISNULL((SELECT MIN(GIADAT) 
				FROM LENHDAT WHERE MACP = @MACOPHIEU AND LOAIGD = 'B' AND SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND GIADAT > @GiaBan1),0)
				
			SET @SoLuongBan2 = ISNULL((SELECT SUM(SOLUONG) 
				FROM LENHDAT WHERE MACP = @MACOPHIEU AND LOAIGD = 'B' AND SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND GIADAT = @GiaBan2),0)
			
			IF @GiaBan2 = 0
			BEGIN
				SET @GiaBan3 = 0
				SET @SoLuongBan3 = 0
			END
			ELSE
			BEGIN
				SET @GiaBan3 = ISNULL((SELECT MIN(GIADAT) 
					FROM LENHDAT WHERE MACP = @MACOPHIEU AND LOAIGD = 'B' AND SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND GIADAT > @GiaBan2),0)
				
				SET @SoLuongBan3 = ISNULL((SELECT SUM(SOLUONG) 
					FROM LENHDAT WHERE MACP = @MACOPHIEU AND LOAIGD = 'B' AND SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND GIADAT = @GiaBan3),0)
			END
			UPDATE BANGGIATRUCTUYEN SET 
				GIABAN1 = @GiaBan1, 
				SOLUONGBAN1 = @SoLuongBan1,

				GIABAN2 = @GiaBan2, 
				SOLUONGBAN2 = @SoLuongBan2,

				GIABAN3 = @GiaBan3,
				SOLUONGBAN3 = @SoLuongBan3
				WHERE MACP = @MACOPHIEU
		END
	END
	ELSE
	BEGIN
		SET @MACOPHIEU = (SELECT MACP FROM inserted)
		SET @LOAIGD = (SELECT LOAIGD FROM inserted)
		IF @LOAIGD = 'M'
		BEGIN
			SET @GiaMua1 = ISNULL((SELECT MAX(GIADAT) 
					FROM LENHDAT WHERE MACP = @MACOPHIEU AND LOAIGD = 'M' AND SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE)),0)
				
			SET @SoLuongMua1 = ISNULL((SELECT SUM(SOLUONG) 
					FROM LENHDAT WHERE MACP = @MACOPHIEU AND LOAIGD = 'M' AND SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND GIADAT = @GiaMua1),0)
			INSERT INTO BANGGIATRUCTUYEN(MACP, GIAMUA1, SOLUONGMUA1, TONGSOLUONGKHOP)
				VALUES(@MACOPHIEU, @GiaMua1, @SoLuongMua1, 0)
		END
		ELSE
		BEGIN
			SET @GiaBan1 = ISNULL((SELECT MIN(GIADAT) 
					FROM LENHDAT WHERE MACP = @MACOPHIEU AND LOAIGD = 'B' AND SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE)),0)
				
			SET @SoLuongBan1 = ISNULL((SELECT SUM(SOLUONG) 
					FROM LENHDAT WHERE MACP = @MACOPHIEU AND LOAIGD = 'B' AND SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE) AND GIADAT = @GiaBan1),0)
			INSERT INTO BANGGIATRUCTUYEN(MACP, GIABAN1, SOLUONGBAN1, TONGSOLUONGKHOP)
				VALUES(@MACOPHIEU, @GiaBan1, @SoLuongBan1, 0)
		END
	END
END
GO
ALTER TABLE [dbo].[LENHDAT] ENABLE TRIGGER [TRI_LENHDAT]
GO
/****** Object:  Trigger [dbo].[TRI_LENHKHOP]    Script Date: 5/10/2022 8:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRI_LENHKHOP]
ON [dbo].[LENHKHOP]
AFTER INSERT
AS
DECLARE @MACOPHIEU NVARCHAR(10)
BEGIN
		SET @MACOPHIEU = (SELECT a.MACP FROM LENHDAT a, inserted b WHERE a.ID = b.IDLENHDAT)

		UPDATE BANGGIATRUCTUYEN
		SET GIAKHOP = (SELECT GIAKHOP FROM inserted),
			SOLUONGKHOP = (SELECT SOLUONGKHOP FROM inserted),
			TONGSOLUONGKHOP = TONGSOLUONGKHOP + (SELECT SOLUONGKHOP FROM inserted)
		WHERE BANGGIATRUCTUYEN.MACP = @MACOPHIEU
END
GO
ALTER TABLE [dbo].[LENHKHOP] ENABLE TRIGGER [TRI_LENHKHOP]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BANGGIATRUCTUYEN', @level2type=N'COLUMN',@level2name=N'GIAMUA3'
GO
USE [master]
GO
