@{
    ViewBag.Title = "DEMO CHUNG KHOAN";
}

<h2>Chi tiết bảng giá trực tuyến</h2>

@Html.Hidden("Get", Url.Action("Get", "DMChungKhoan"))

<table class="table">
    <thead>
        <tr>
            <th>Mã CP</th>
            <th>Gía mua 3</th>
            <th>KL mua3</th>
            <th>Giá mua 2</th>
            <th>KL mua 2</th>
            <th>Giá mua 1</th>
            <th>KL mua1</th>
            <th>Giá khớp</th>
            <th>KL khớp</th>
            <th>Giá bán 1</th>
            <th>KL bán 1</th>
            <th>Giá bán 2</th>
            <th>KL bán 2</th>
            <th>Giá bán 3</th>
            <th>KL bán 3</th>
            <th>Tổng KL khớp</th>
        </tr>
    </thead>

    <tbody id="tblInfo">
        
    </tbody>
</table>
